/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
Quos aut non illo consequuntur alias. Iusto molestiae deleniti labore sed sapiente. Veniam iste sed ea itaque unde veritatis.
